.modal {
  display: grid;
  position: fixed;
  overflow: auto;
  inset: 0;

  &__body {
    display: flex;
    flex-direction: column;
    width: 720px;
    min-height: 500px;
    margin: auto;
    padding: 40px;
    border: 1px solid var(--interface-modal-edge);
    background-color: var(--background);
    border-radius: 40px;
  }

  &__header {
    display: flex;
    gap: 36px;
    width: 100%;
    align-items: center;
    position: relative;
    flex-direction: row-reverse;
    z-index: 1;

    &.isTitle {
      flex-direction: row;
      justify-content: space-between;
      min-height: 64px;
      gap: 20px;
    }

    &__close {
      all: unset;
      cursor: pointer;
      border-radius: 50%;
      position: absolute;
      top: 20px;

      .isTitle > & {
        position: static;
      }

      &:focus-visible {
        outline: 1px solid var(--text-primary-color);
        outline-offset: 5px;
      }

      &:hover > svg {
        fill: var(--text-inactive-color);
      }

      & > svg {
        display: block;
      }
    }
  }

  &__content {
    margin-inline: auto;
    z-index: 0;
  }
}
