.chunk {
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 80px;

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  &__title {
    composes: text text_type_main-medium from global;
  }

  &__tools {
    composes: text text_type_main-default text_color_inactive from global;

    display: flex;
    flex-direction: column;
    gap: 24px;
  }

  &__option {
    display: flex;
    justify-content: center;
    gap: 8px;
  }

  &__action {
    composes: text from global;
  }
}

.error {
  composes: text text_type_main-default from global;
  color: var(--colors-interface-error);
}
