.header {
  display: grid;
  align-items: center;
  min-height: 88px;
  max-width: 1280px;
  margin: auto;
}

.logo,
.nav,
.user {
  grid-column-start: 1;
  grid-row-start: 1;
}

.logo {
  display: block;
  margin: auto;
  &__img {
    display: block;
  }
}

.nav {
  margin-inline-end: auto;
}

.user {
  margin-inline-start: auto;
}

.menu {
  display: flex;
  list-style: none;
  gap: 8px;
}

.link {
  composes: text_type_main-default text_color_inactive from global;

  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 20px;

  text-decoration: none;

  transition: var(--common-transition);

  &:hover,
  &.active {
    color: var(--text-primary-light);
  }
}
